@media (max-width: $mobile-max-width) {
  .accordion-item-content {
    display: none;
  }

  .accordion-item-header {
    position: relative;

    &::before {
      position: absolute;
      top: 7px;
      right: 3px;

      display: block;
      width: 16px;
      height: 2px;

      background-color: $toggle-color;

      content: "";
    }

    &::after {
      position: absolute;
      top: 7px;
      right: 3px;
      transform: rotate(90deg);

      display: block;
      width: 16px;
      height: 2px;

      background-color: $toggle-color;

      content: "";
    }
  }

  .accordion-item.show .accordion-item-header {
    margin-bottom: 32px;

    &::after {
      display: none;
    }
  }

  .accordion-item.show .accordion-item-content {
    display: block;
  }
}
