.accordion-item-toggle {
  display: none;
}

@media (max-width: $mobile-max-width) {
  .accordion-item-content {
    display: none;
  }

  .accordion-item {
    position: relative;
  }

  .accordion-item-header {
    padding: 27px 0;
  }

  .accordion-item-toggle {
    position: absolute;
    top: 28px;
    right: 17px;

    width: 16px;
    height: 16px;

    border: none;
    background: none;
    z-index: -1;

    &::before {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;

      display: block;
      width: 16px;
      height: 2px;

      background-color: $toggle-color;

      content: "";
    }

    &::after {
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      transform: rotate(90deg);

      display: block;
      width: 16px;
      height: 2px;

      background-color: $toggle-color;

      content: "";
    }
  }

  .accordion-item-toggle {
    display: block;
  }

  .accordion-item.show .accordion-item-header {
    margin-bottom: 6px;
  }

  .accordion-item.show .accordion-item-toggle {
    &::after {
      display: none;
    }
  }

  .accordion-item.show .accordion-item-content {
    padding-bottom: 26px;

    display: block;
  }
}
