.features-list {
  margin: 0 auto;

  max-width: 1170px;

  font-family: $text-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}

.features-list__row {
  display: flex;
  justify-content: space-between;
}

.features-list__item {
  margin-bottom: 30px;
  padding-top: 40px;
  padding-right: 43px;
  padding-bottom: 50px;
  padding-left: 41px;

  width: 48.6%;
  min-height: 299px;

  background-color: $main-color;
  border: 1px solid $border-color2;
  border-left: 3px solid $secondary-color;

  &:hover,
  &:focus,
  &:hover h3,
  &:focus h3,
  &:hover .features-list__icon,
  &:focus .features-list__icon {
    color: $main-color;

    background-color: $secondary-color;
    fill: $main-color;

    cursor: pointer;
  }
}

.features-list__icon {
  fill: $secondary-color;
}

.features-list__item h3 {
  margin-top: 13px;
  margin-bottom: 16px;

  font-weight: normal;
  font-family: $main-font-family;
  font-size: 24px;
  line-height: 34px;
  color: $secondary-color;
}

@media (max-width: $tablet-max-width) {
  .features-list__item {
    padding: 24px 25px;
    padding-right: 20px;
    padding-bottom: 21px;

    width: 48%;
    min-height: 306px;

    border-left: 2px solid $secondary-color;

  }

  .features-list__row {
    &--small-size .features-list__item {
      min-height: 232px;
    }
  }

  .features-list__item h3 {
    margin-top: 2px;
    margin-bottom: 7px;
  }

  .features-list__item p {
    margin: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .features-list__item {
    margin-bottom: 20px;
    padding: 24px 25px;
    padding-right: 12px;
    padding-bottom: 23px;

    width: 100%;
    min-height: 310px;
  }

  .features-list__row {
    flex-wrap: wrap;

    &--small-size .features-list__item {
      padding-right: 16px;
      min-height: 232px;
    }
  }

  .features-list__item h3 {
    margin-top: 7px;
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 28px;
  }

  .features-list__item p {
    font-size: 16px;
    line-height: 22px;
  }
}
