.main-navigation {
  display: flex;
  align-items: center;

  font-family: $text-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $main-color;
}

.main-navigation__logo {
  margin-right: 8.2%;
}

.main-navigation__logo-image {
  &--mobile {
    display: none;
  }
}

.main-navigation__toggle {
  position: relative;
  margin-right: auto;

  width: 37px;
  height: 10px;

  background: none;
  border: none;

  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    top: -3px;
    left: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $main-color;

    content: "";
  }

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 1px;

    background-color: $main-color;

    content: "";
  }
}

.main-navigation__email {
  margin-right: 6%;
  margin-left: 20px;
  padding-bottom: 2px;


  width: 135px;

  color: $main-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-navigation__icon {
  margin-right: 10px;
}

.main-navigation__phone {
  margin-right: 47px;
  padding-bottom: 6px;

  width: 211px;

  color: $main-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-navigation__call {
  padding: 14px 0;

  width: 180px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $main-color;

  background: none;
  border: 1px solid $main-color;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .main-navigation__logo {
    margin-right: auto;
  }

  .main-navigation__toggle {
    margin-right: 37px;
    margin-bottom: 6px;
  }

  .main-navigation__email {
    margin-right: 33px;
    margin-left: 0;
    width: min-content;
  }

  .main-navigation__phone {
    margin-right: 0;

    width: min-content;
  }

  .main-navigation__icon {
    margin-right: 0;

    &--email {
      width: 26px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }

  .main-navigation__email-text,
  .main-navigation__phone-text {
    display: none;
  }

  .main-navigation__call {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .main-navigation__logo-image {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .main-navigation__toggle {
    margin-right: 26px;
  }

  .main-navigation__email {
    margin-right: 23px;
  }
}
