.modal-form__field {
  margin-bottom: 29px;
}

.modal-form input[type="text"],
.modal-form input[type="tel"] {
  padding-top: 15px;
  padding-left: 25px;
  padding-bottom: 20px;

  width: 100%;

  color: $main-color;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);

  &::placeholder {
    color: $main-color;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal-form textarea {
  margin-bottom: 25px;
  padding-top: 15px;
  padding-left: 25px;

  width: 100%;
  min-height: 105px;

  color: $main-color;

  border: none;
  background-color: rgba(255, 255, 255, 0.1);

  resize: none;

  &::placeholder {
    color: $main-color;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal-form button[type="submit"] {
  margin-right: 37px;
  margin-bottom: 32px;
  padding: 13px;

  width: 100%;

  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $main-color;
  text-transform: uppercase;

  background-color: $secondary-color;
  border: 1px solid $main-color;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.modal-form input[type="checkbox"] + label {
  position: relative;
  margin-top: 8px;
  padding-left: 48px;

  max-width: 260px;

  font-size: 14px;
  line-height: 16px;

  opacity: 0.8;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid $main-color;

    content: "";
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.modal-form input[type="checkbox"]:checked + label {
  &::before {
    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
