.services {
  background-color: $background-color;
}

.services__wrapper {
  margin: 0 auto;
  padding: 87px 20px;
  padding-bottom: 97px;

  max-width: 1210px;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  color: $main-color;
}

.services h2 {
  margin: 0 auto;
  margin-bottom: 52px;

  max-width: 1170px;

  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

@media (max-width: $tablet-max-width) {
  .services__wrapper {
    padding: 50px 3.2%;
    padding-bottom: 32px;
  }

  .services h2 {
    margin: 0;
    margin-bottom: 49px;

    max-width: 610px;

    font-size: 32px;
    line-height: 45px;
  }
}

@media (max-width: $mobile-max-width) {
  .services__wrapper {
    padding: 50px 4.4%;
    padding-bottom: 34px;
  }

  .services h2 {
    margin: 0;
    margin-left: 12px;
    margin-bottom: 42px;

    font-size: 28px;
    line-height: 39px;
  }
}
