.social-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  max-width: 220px;

  list-style: none;
}

.social-list__item {
  margin-right: 16px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .social-list {
    margin-top: 11px;
  }
}

@media (max-width: $mobile-max-width) {
  .social-list {
    margin: 0;
    margin-right: -14px;
  }
}
