$main-font-family: "Roboto Condensed", "Arial", sans-serif;
$text-font-family: "PT Mono", "Open Sans", sans-serif;
$main-color: #ffffff;
$secondary-color: #00b2ff;

$text-color: #666666;

$background-color: #1b2d37;
$border-color: #626962;
$border-color2: #ebebeb;
$toggle-color: #c4c4c4;

$invalid-color: #ff0000;

$font-size: 16px;

$desktop-max-width: 1920px;
$desktop-min-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 770px;
$mobile-max-width: 769px;
$mobile-min-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
